// start .sCards
.sCards {
	@include media-breakpoint-up(lg) {
		--sPT: 0;
	}
		--sPT: #{rem(100)};
		// --sTPB: ;	
		// padding-bottom: rem(80);
		.row{
			--bs-gutter-y: var(--bs-gutter-x);
		}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCards

.card{
	background: #FFFFFF;
	border-radius: 20px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	padding: rem(40);
	@include media-breakpoint-up(sm) {
		padding: rem(60);

	}
	.row{
		flex-wrap: nowrap;
	}
	img{  
		height: 1em;
		margin-right: rem(20);
	}
	picture{
		flex:  0 0 auto;
		display: block;
	}
	&__head{
		// font-size: ;
		@include rfs(45px);
		color: #7C898E;
		font-weight: bold;
		margin-bottom: rem(30);
	}
	&__body{
		line-height: 1;
		font-weight: bold;
		@include rfs(100px);
		display: flex;
		align-items: center;
		align-items: center;
		margin-bottom: rem(34);
		flex-grow: 1;
		
	}
	&__footer-text{
		display: flex;
		align-items: center;
		.strong {
			margin-right: rem(5);
		}
		@include media-breakpoint-down(sm) {
			flex-wrap: wrap;
			span{
				display: block;
				width: 100%;
				// margin-top: 1em;
			}
			// font-weight: bold;
		}
	}
	&__up,
	&__down{
		margin-right: rem(5);
		position: relative;
		&::before{
			content: '';
		}
	}
	&__up{
		@include triangle(rem(16) rem(14), #4DBB32, up);
	}
	&__down{
		
		@include triangle(rem(16) rem(14), $danger, down);
	}
}

@include media-breakpoint-up(xl) {

	.col-xl-3{
		.card{ 
			padding-bottom: rem(40);
			&__head {
				// font-size: ;
				@include rfs(30px);
			}
			&__body { 
				@include rfs(80px);
				padding-top: em(5);
			}
		}
	}
}